[2015-01-25 04:58] rfantozzi opened #1 "PHP implementation"
Would like to see a PHP implementation. We use drupal @CDTA for out content management system.  We have pieced our own version together but would like to see something is a bit more standardized.

[2015-01-25 17:54] bdferris commented on #1
I'm not much of a PHP programmer, so forgive me a few questions.  Are you using https://github.com/drslump/Protobuf-PHP as your protobuf implementation?  Do you have a preference on Composer vs Pear packages?

[2015-02-05 23:50] poisa commented on #1
:+1:
I would also love to see a PHP implementation. I do have a preference for Composer/Packagist since it is extremely easy to use and has overcome Pear in popularity nowadays.
Incidentally, I'm writing a PHP based CLI tool to convert GTFS files to sqlite/mysql/postgre databases. A PHP implementation of gtfs-realtime-bindings would be a very welcome addition to this suite of tools.

[2015-02-06 05:27] bdferris commented on #1
Cool, I will try to make this happen.

[2015-02-18 02:31] bdferris commented on #1
Ok, this was a little more complex than I hoped.  The PHP bindings themselves were straightforward, but to get the package published to Packagist, it was a real pain having the php files in a sub-directory of the GitHub project.  Ultimately, I had to create a new GitHub repo for the php files:

https://github.com/google/gtfs-realtime-bindings-php

The good news is that the package has now been pub

[2015-02-18 02:31] #1 closed

[2015-02-18 02:43] poisa commented on #1
Holy commits Batman! That was quick! I'll give it a go during the week.

Indeed. I've used git submodules for this same purpose before.

[2015-02-18 22:51] poisa commented on #1
Hey @bdferris I gave this a try and it works great. I only found one small bug but I'm *almost* sure it's in one of the underlying libraries (DrSlump\Protobuf\Message) not in your code. For example, the first thing I tried to quickly see what was coming in from the feed was to convert the feed to a plain php array. This only worked for the VehiclePositions feed but not for the Alerts or TripUpdate

[2015-02-21 06:03] bdferris commented on #1
Thanks for the comments @poisa.

Indeed, there appears to be a bug in the \DrSlump\Protobuf\Message toArray() method.  It seems it doesn't correctly handle the case where a value is an array of Messages (ironic in a way).  The following patch fixes the issue:

[code]

The trick of course is getting it fixed in the actual library.  The original drslump/Protobuf-PHP has bugs and is no longer being m

[2015-04-01 16:42] zzolo opened #2 "MTA feed issue"
I am having intermittent issues with the MTA protobuf feed.  I am mostly just at a loss on how to debug and track down the issue.

The feed is here (with an MTA key; happy to share off list):
http://datamine.mta.info/mta_esi.php?feed_id=1&key=[[[MTA_API_KEY]]]

The error I get is the following.  It is intermittent and there does not seem to be any pattern as to when/why it happens, though it rough

[2015-04-01 17:44] bdferris commented on #2
Hey @zzolo ;)

Any chance you could save the raw protobuf data to disk before you attempt to decode and share one of the corrupted payloads so we can take a closer look?

[2015-04-02 15:34] zzolo commented on #2
Hey Brian!  How's it going?  Thanks for the help and the great work.

Here is a zip of a few saved feeds (every 30 seconds) of the MTA GTFS RT feed.  The `.fail` are the ones that have that error.  Hopefully I saved them the right way.

https://dl.dropboxusercontent.com/u/18260842/mta-gtfs-rt-feed-examples.zip

[2015-04-03 02:47] bdferris commented on #2
I can confirm that your .fail feeds also fail to parse for me as well.  My guess is that the data is truncated in some way, especially since all the good feeds are averaging around 160k but the failing feeds both appear to be around 130k.

My guess is that this corruption is on the MTA side but I'm not sure.  Maybe I will try capturing a few feeds and see if I get similar results.

[2015-04-03 14:28] zzolo commented on #2
Thanks for looking into that.  That's the overall impression I got as well.

I did save that output via the `request` node module.  So, there's a possibility that the `request` module is screwing something up, but it would seem odd to be intermittent like that.

[2015-04-03 15:42] bdferris commented on #2
I've had a script running for the past 12 hours that pulls the MTA GTFS RT feed every 30 seconds with plain-old "curl" on the command line.  About 4% of the resulting feeds have been corrupted for me.  The frequency seems kind of random.  Sometimes I went close to 20 minutes without a bad read.  Other times, half my feeds were corrupted over a three minute window.

Either way, this seems like a pr

[2015-04-03 15:42] #2 closed

[2015-04-03 15:44] zzolo commented on #2
Thanks again for digging into that.  Maybe its some sort of rate-limiting thing, though it doesn't seem consistent enough for that.  Either way, I can get around it.

[2015-04-03 15:48] bdferris commented on #2
I'm not sure how they've implemented their feed.  Maybe they are just writing a file to disk periodically and sometimes you get unlucky and read the file as it's being updated?

[2015-04-05 20:19] wryphonedev opened #3 "Support in Objective-C or Swift"
This tool would be immensely valuable for mobile developers supporting iOS.

[2015-04-06 23:22] bdferris commented on #3
Do you have any preference on library sharing / packaging?  Ever used CocoaPods or something similar?

[2015-06-25 17:12] scottlacy opened #4 "Support for Go"
Our shop uses Python for much of our front-end web development, but our lower-level transit integrations are written exclusively in Go. Would be great to integrate with GTFS-Realtime via Go.

[2015-06-29 18:36] zhaostu commented on #4
+1

[2015-09-10 08:35] daviddelmonte commented on #3
+1 for objc and Swift. No preference on packaging.

[2015-10-03 08:47] Spookenator opened #8 "Desearilizing feed"
Hi, i keep getting this error when trying to consume a feed
    No transit_realtime.TripDescriptor+ScheduleRelationship enum is mapped to the wire-value 5

The feed i am intrested in is:
"https://gtfsrt.api.translink.com.au/feed"

could you assist?

[2015-10-05 09:58] magdalar commented on #8
There is indeed no wire-value 5 defined in that enum, so technically, the
feed is invalid. That said, I suspect your protobuffer parser has a means
to ignore that error, or map the value to the default value (enum value 0),
and go about its business. You'd need to provide additional details for us
to provide you help on that, though -- such as which language you're even
using :)

Cheers,
-- Eric

[2015-10-08 18:28] Spookenator commented on #8
Hey Eric,
Jah now i feel like an idiot hehe :P;
I am using the .net parser, i am teribbly new to the protobuff stack so sorry for not being able to provide you with a more detailed technical approach to my problem.

[2015-10-09 00:00] brendancosmanmammoth commented on #8
I have the same issue with Translink's feed. I have a forked version of this project on my personal account; I'll find some time today to share the code snippet that I added as a workaround.

[2015-10-11 07:22] BrendanCosman commented on #8
Spook: sorry for the delay. Here are the changes I needed to make to parse Translink's feed.

https://github.com/google/gtfs-realtime-bindings/compare/master...BrendanCosman:patch-1

 As Eric noted, Translink's feed is non-compliant / invalid, so these changes should be made in your project; I assume that the base project will not and should not be changed to adapt to Translink's non-compliant fee

[2015-11-24 15:27] mikebikemusic commented on #3
+1 for Swift implementation that works whether it is embedded in OS X, iOS, apple watch, or tvOS.

[2015-12-18 01:47] idupree commented on #4
+1

[2015-12-18 14:34] zhaostu commented on #4
Because GTFS-realtime is protocol buffer, I figured that it was very easy to generate Go bindings from the proto file: https://developers.google.com/transit/gtfs-realtime/gtfs-realtime-proto?hl=en

[2015-12-18 16:51] daisuke-nomura commented on #4
+1

[2015-12-18 17:06] idupree commented on #4
@zhaostu It is easy to generate gtfs-realtime.pb.go itself (install per https://github.com/golang/protobuf#installation then `protoc --go_out=. gtfs-realtime.proto`), but judging by the other things in this gtfs-realtime-bindings repository, you also have to figure out how to write tests and integrate it with Go's package system.  (I'm too new at Go to know what the right conventions are for that.

[2015-12-22 08:17] Robinlovelace opened #9 "Support for R"
This will be very useful for academic and research-focussed transport planners.

My package co-author @richardellison has added gtfs import functionality:
https://github.com/ropensci/stplanr/pull/34

Could that could provide a basis for official support?

[2015-12-22 08:29] egorich239 commented on #9
If I read it correctly, the linked project concerns GTFS, while this
repository is about GTFS Real-time bindings.

Am 22.12.2015 9:17 vorm. schrieb "Robin" <notifications@github.com>:

planners.

[2015-12-22 08:33] Robinlovelace commented on #9
Yes - correct.

I assumed this included official support for GTFS - is there another repo for that?

[2015-12-22 09:00] egorich239 commented on #9
@Robinlovelace Not that I know of. Maybe @bdferris would know.

[2015-12-22 09:00] #9 closed

[2015-12-22 09:02] #8 closed

[2015-12-22 13:35] egorich239 commented on #4
Not sure what would be the packaging/build system for Go, but if this is resolved, then just throw a pull request: https://github.com/google/gtfs-realtime-bindings#other-languages

[2015-12-22 13:38] egorich239 commented on #3
The fastest way to get a language supported is to send a pull request: https://github.com/google/gtfs-realtime-bindings#other-languages ;)

[2016-02-01 04:51] k-rol opened #15 "DotNet version for Universal Apps."
Would be great to modify it so it could be used on the new Universal apps for Windows 10.
Seems the System.Serialization was removed so should it be as well from gtfs-realtime-bindings.

[2016-02-29 17:27] kevinsmgov opened #16 "Trip updates - zero delay causing Google error"
When we first implemented our GTFS real time services, we rolled our own data model for our protobuf feed. We recently switched to using gtfs-realtime-bindings but we've run into an issue.

When we assign a zero value to Delay in Arrival (StopTimeEvent) for TripUpdates (i.e. the trip is on time) Google is interpreting it as no value and generating a warning report for our feed. A debug snapshot fr

[2016-02-29 21:37] magdalar commented on #16
What language and environment are you working with?

[2016-02-29 21:39] kevinsmgov commented on #16
C# .NET

[2016-03-01 11:58] magdalar commented on #16
Could you provide an example of how you're setting the field, and how you're serializing the final message?

[2016-03-01 12:04] magdalar commented on #16
Actually, this looks relevant to your question: http://stackoverflow.com/questions/12295976/force-protobuf-net-to-serialize-all-default-values

[2016-03-01 18:26] whitecat commented on #1
I am trying to use this package also. But I am facing problem with drslump/Protobuf-PHP.
After I do composer install, I try to run the phpunit test. But I always get the error

`Fatal error:  Class 'DrSlump\Protobuf\Message' not found in /home/leetcat/web/c.albert-thompson.com/public_html/test/src/gtfs-realtime.php on line 24`

Do I need to install protobuf specifically?

[2016-03-01 19:34] whitecat commented on #1
I fixed this error by adding `centraldesktop/Drslump` to the folder `/usr/share/php/`

<?php
require __DIR__ . '/../vendor/autoload.php';

require_once 'DrSlump/Protobuf.php';
\DrSlump\Protobuf::autoload();

use transit_realtime\FeedMessage;

class GtfsRealtimeTest extends PHPUnit_Framework_TestCase
{
  public function testParse()
  {
    $data = file_get_contents(dirname(__FILE__) . "/vehicle_pos

[2016-03-13 07:56] elad661 opened #17 "Python 3 compatibility"
It seems that the Python bindings are not compatible with Python 3.

[code]

[2016-03-13 08:00] elad661 commented on #17
Oops, I guess that's a generic issue with protobuf itself. I'll close this issue and find the right place to file it.

[2016-03-13 08:05] elad661 commented on #17
Oh, with the beta version of protobuf (which supports Python 3), the bindings fail with a different error

[code]
so... reopening the issue. sorry for the noise.

[2016-03-29 03:19] arahman010 commented on #3
+1 for swift

[2016-03-30 21:24] seanmavley opened #18 "Uncaught Error: Illegal wire type of unknown field 0 in Message"
I understand this package is for node. I want to use this in my angular project, how do I proceed? Is there a way I can use it?

[2016-04-06 03:27] hansthompson opened #19 "R bindings for realtime protobufs"
Hi.  I recently pushed out an R script to routinely produce the real-time protocol buffer for googlemaps.  I have signed the CLA and read CONTRIBUTING.md and I would like to push a fork of my contributions.

What considerations should I take into account for my contribution?

[2016-04-08 09:45] seanmavley commented on #18
Using Browserify, however throwing an error:

[code]
Then I get this error:
`Uncaught Error: Illegal wire type of unknown field 0 in Message .transit_realtime.FeedMessage#decode: 3`

[2016-06-27 04:06] jbb352 commented on #17
Having the same issue.  Any news on a release for Python3?

[2016-07-05 23:26] araichev commented on #17
Having the same issue.

[2016-07-14 22:31] robbiet480 commented on #17
I have a working branch! It's available [here](https://github.com/robbiet480/gtfs-realtime-bindings/tree/python3). Just needed to follow instructions in python/UPGRADING.md and change the protobuf version to at least 3.0.0b3.

[2016-07-31 21:05] robbiet480 commented on #17
Fixed in PR #20!

[2016-08-04 16:28] hansthompson commented on #19
I saw there was some activity for python and protobuf3 so I thought I would bump this issue.

[2016-12-17 18:05] zanateh opened #21 "Version in PyPI is stale?"
I was running into the same Python 3 problems as others. I see that it's been fixed and this package has been bumped to 0.0.5.

PyPI version is still 0.0.4 and contains the Python 3 bug.

[2017-01-13 22:12] robbiet480 commented on #21
See also #20.

@bdferris Can you publish the latest version to PyPI?

[2017-01-13 22:14] robbiet480 commented on #21
@egorich239 Pinging you again as well in the hopes of getting latest version put on PyPI...

[2017-01-31 02:23] Holisticnature commented on #21
Hi Robbie,

I see that PyPI is still on 0.04, and I do not see .05 on Python 3 Installer for conda.

David

[2017-01-31 05:23] robbiet480 commented on #21
@Holisticnature I'm not a Google employee/owner of this library, so I have no control on releasing my fixes. I have tagged a bunch of people who work on this project in the hopes of having them update the version but have found no joy thus far.

[2017-01-31 14:12] Holisticnature commented on #21
@robbiet480 Thanks providing me an update nonetheless. I am just trying to figure out the current status based on the forums. @egorich239 I am also interested in a Python 3 version for use on PyPI.

[2017-02-13 22:11] axyjo commented on #21
This is my current solution for getting things to work in `requirements.txt`.

`-e git+https://github.com/axyjo/gtfs-realtime-bindings.git@afd68ef2093d14c1e7bdabb86ef2b88b5b800815#egg=gtfs_realtime_bindings`

[2017-04-18 17:20] XavierPrudent opened #22 "inserting gtds-realtime-bindings in a new Maven project"
Hello,

I started a new Maven project, and inserted the content you gave for the dependencies inside the pom.xml.

But while creating the package (mvn package) the compilation crashed because of duplicated groupId and artifactId (from my project on one side, and from gtfs-realtime-bindings on the other side). Trying to remove one or the other duplicate did not help.
Am I missing something on how t

[2017-04-23 12:05] mbewley opened #23 "PyPi version is old"
Installing via pip only gets 0.0.4. Please update!

[2017-05-19 00:04] joovel commented on #23
👍

[2017-05-30 19:18] axyjo commented on #23
Dupe -- there's a solution here: https://github.com/google/gtfs-realtime-bindings/issues/21#issuecomment-279539570

[2017-06-13 14:23] StevenMaude commented on #21
We'll be wishing the Python 3 fix a happy birthday soon :birthday:

It's almost a year old now, any chance of someone finally releasing it on PyPI, please? :slightly_smiling_face:

Just spent twenty minutes hitting the following error, diagnosing it, having to install the master branch by hand and finally documenting this process in the words you're reading now for the benefit of anyone else encou

[2017-06-17 22:49] NicoHinderling commented on #3
Would also like Swift ! :)

[2017-06-20 04:47] #17 closed

[2017-06-20 04:48] #23 closed

[2017-06-20 04:48] RachM commented on #21
I'm trying to get access to the account so that I can change it. Will post an update once that's done.

[2017-06-20 21:34] ResidentMario commented on #21
@robbiet480

When I install from source to get your `0.0.5` update:

[code]

Then execute the code sample from the `README`, I get an import error:

`ModuleNotFoundError: No module named 'google.protobuf'`

When I try to do anything with `pip` afterwards, however (even running a bare `pip` command), I get this fascinating error:

    AttributeError: '_NamespacePath' object has no attribute 'sort'

[2017-06-20 22:15] ResidentMario commented on #21
Installing on `python-3.4` *does* work. So I guess for now the workaround is to stick to that version of Python.

[2017-06-20 22:48] robbiet480 commented on #21
@ResidentMario Thanks for the explanation of the issue. I don't think this is much we can do until Google as a whole decides on what to do. I don't really want to rename this package to something outside of the `google` namespace since it would break those that already implemented.

[2017-06-20 22:56] ResidentMario commented on #21
Google mostly uses 2.7 internally, so they don't "eat their own dogfood", as the saying goes, when it comes to python-3 compat. I also think the Transit team builds the Protobuf tooling directly themselves, this package is an outwards-facing convenience. Hence the slowness of the response here.

I can't say for sure, of course, but my guess is that splitting up the namespace isn't going to happen.

[2017-06-20 23:29] RachM commented on #21
Updated to 0.0.5.

[2017-06-20 23:29] #21 closed

[2017-09-05 00:47] #4 closed

[2017-09-05 20:14] barbeau opened #26 "Update to GTFS-rt v2.0"
~~The reference [gtfs-realtime.proto](https://github.com/google/transit/blob/master/gtfs-realtime/proto/gtfs-realtime.proto) is now at v2, while the version in this repo is still at v1.~~ (Correction - the value of `gtfs_realtime_version` field in gtfs-realtime.proto doesn't need to change for GTFS-realtime v2.0 or any future version - see below comments in this thread).

I'm not sure if this requ

[2017-10-11 22:47] RachM commented on #26
+1 to avoiding gtfs-realtime.proto from this repo.

I'd prefer to keep the bindings separate from the spec repo. Git submodules sounds like it could work.

[2017-11-05 18:37] Asher978 opened #27 "Error during a GET request"
Hello,

I am using a get request to fetch the GTFS realtime data from NYC MTA.  Please see the snippet of my code .....

` let getData = (req, res, next) => {
    fetch(`http://datamine.mta.info/mta_esi.php?key=${MTA_API}&feed_id=${req.body.field_id}`)
    .then(fetchRes => {
      console.log(fetchRes.body);
      var feed = GtfsRealtimeBindings.transit_realtime.FeedMessage.decode(fetchRes.body);

[2017-11-06 04:21] Asher978 commented on #27
fixed my own error. No worries
thanks

[2017-11-06 04:21] #27 closed

[2017-11-12 19:57] jonlaing opened #28 "More recent release"
Trying to use the NodeJS bindings for a React Native project, but both the yarn and npm registries have an older version in which the version of protobuf.js is 2.0.5. This causes issues because that version uses fs, which isn't available for React Native. The package.json in this repo has the version set to 6.7.3, which works in React Native, but there's no release tag for it, so I can't use it. I

[2017-11-22 07:58] AlexVPerl opened #29 ".NET Version Not Working Reliably"
Having an issue with the .NET version.

It does not seem to populate TripUpdate consistently. Seems when Vehicle is available TripUpdate is not populated.

Tested the same feed using JAVA code from OneBusAway and TripUpdate is there on every entity item.

What could be the reason? Any ways to get TripUpdate to populate reliably ?

[2018-02-11 13:52] kayupeace opened #31 "TripDescriptor.schedule_relationship: 5 - Not a valid enum value (Javascript)"
**Full Error Message**: Illegal value for Message.Field .transit_realtime.TripDescriptor.schedule_relationship: 5 (not a valid enum value)
**Test Data:**  https://api.transport.nsw.gov.au/v1/gtfs/realtime/sydneytrains
**Example:** JavaScript/Node.js Sample
**Successful case:**  https://api.transport.nsw.gov.au/v1/gtfs/vehiclepos/sydneytrains
Comment: Year, it does support for the "vehicepos data s

[2018-02-21 17:20] VictorioBerra commented on #27
@Asher978 I copied and pasted the code from the README and am getting this exact same error.

Can you please update us with how you fixed your error?

[2018-03-06 13:42] piotrwojtowicz opened #32 "Values equal to 0 not serialized by ProtoBuf in .NET"
I will show it basing on FeedHeader serialization:

[code]

After serializing by ProtoBuf it seems that incrementality value (which is equal to 0) in FeedHeader class is not serialized, because when testing feed with https://github.com/CUTR-at-USF/gtfs-realtime-validator that validator shows me error "header incrementality not populated" and when I check (in that validator) protobuf file contents:

[2018-04-23 20:05] MJRinne opened #33 "Pip installation in Python 3.5 fails with "AttributeError: '_NamespacePath' object has no attribute 'sort' ""
I'm in the process of upgrading our environment to python 3, but gtfs-realtime-bindings refuses to install. This is what I get:

[code]

Python 3.5.2 (default, Nov 23 2017), pip 10.0.1, Setuptools 20.7.0. Freshly generated ubuntu/xenial64 box in Vagrant.

Wouldn't be surprised to find something wrong with my environment, but 46 other python libraries installed ok, so something looks special about

[2018-04-23 21:11] MJRinne commented on #33
It was my environment indeed. Setuptools had not upgraded, the latest one is 39.0.1. Installation passed after the upgrade.

I still don't know why the problem manifested only with gtfs-realtime-bindings. Also, exactly the same error was observed earlier in #21. Closing.

[2018-04-23 21:11] #33 closed

[2018-05-14 20:46] Gariantroll opened #34 "Unexpected End group Tag"
I am getting error "unexpected end-group tag".  I catch this error in an exception and then I loop the function back over to grab new data.  I thought I could live this way , but it seems after a couple of hours or maybe even days, the program freezes.  I am looking for a solution, but I am wondering if this has something to with the "unexpected end-group tag" or if i am just pulling two much.  I

[2018-07-16 18:53] wowkin2 opened #36 "How to convert VehiclePosition to TripUpdate?"
Is there any possible way how to convert GTFS VehiclePosition + GTFS Static to TripUpdate?
Want to calculate real time to arrival and create new feed.
If not using this library, maybe anybody here knows something to do that?

[2018-10-30 12:28] bugbiter commented on #32
I have the same issue with Header.Incrementality. Workaround?

[2018-12-10 03:59] SBanya opened #40 "Request For Actual Example Start To Finish Using Python Based Bindings"
Hello,

I would like to request for a Google team to create a GTFS-realtime-bindings example for Python 3 based bindings from start to finish.

The example provided doesn't even scratch the surface regarding this issue, so please help beginners like myself to be able to implement GTFS related data (such as those given by NYC MTA) for projects.

I stress this because major city transit data feeds a

[2018-12-11 14:39] cwh711 commented on #36
Generally that "conversion" is done by specific companies (like NextBus or Swiftly) that have complex proprietary algorithms for generating TripUpdates from positions and static schedules. You *could* do some calculations of distance to the stop and assume a certain speed to get an arrival time, but those times would be very rough estimates.

[2019-01-22 05:05] mjprude commented on #28
I'm having the same issue. `protobuf.js 2.0.5` is the current required dependency as published on NPM, and raises [this security vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2018-3738). A new release/publish to NPM would be extremely helpful.

[2019-01-29 13:32] VGoose commented on #28
Also having same issue, Bytebuffer and Long, used by `protobufjs 2.0.5` are causing issues with npm.

[2019-03-01 10:36] barbeau commented on #36
@wowkin2 I'd suggest checking out TheTransitClock, which is an OSS project that generates GTFS-rt TripUpdates from GTFS-rt VehiclePositions + GTFS feeds (i.e., generates predictions from vehicle positions):
https://thetransitclock.github.io/

[2019-03-01 10:36] #36 closed

[2019-03-01 10:38] barbeau commented on #29
@AlexVPerl Could you please provide the GTFS-realtime feed that you are using?

[2019-03-01 10:42] barbeau commented on #26
I'm closing this, as the bindings don't need to be updated for GTFS-rt v2.

[2019-03-01 10:42] #26 closed

[2019-03-01 10:45] barbeau commented on #16
@kevinsmgov Is this still an issue for you?  If so, could you please provide a link to your GTFS-rt feed?

[2019-03-01 10:46] barbeau commented on #19
@hansthompson Is this still something you're interested in contributing?

[2019-03-01 10:53] barbeau commented on #40
@SBanya A complete example that ingests and integrates GTFS and GTFS-realtime into an in-memory data model is beyond the scope of this repo (this repo handles GTFS-realtime only), but I'd suggest checking out https://github.com/CUTR-at-USF/gtfsrdb and https://github.com/OpenTransitTools/gtfsdb, which may give you an idea of how Python can be used to insert GTFS and GTFS-realtime into a database.

[2019-03-01 10:53] #40 closed

[2019-03-01 10:56] barbeau commented on #18
@seanmavley Looks like you're trying to read a GTFS zip file (schedule data), not a GTFS-realtime feed (which is in a protocol buffer format).  Could you please try reading your agency's GTFS-realtime feed and then let us know if you still have problems?

[2019-03-01 10:56] #18 closed

[2019-03-01 10:57] barbeau commented on #34
@Gariantroll Could you please give more information about the GTFS-realtime feed you're using, and the GTFS-realtime language bindings library you're using?

[2019-03-01 11:05] barbeau commented on #32
Looks like this is the underlying issue:
https://stackoverflow.com/questions/12295976/force-protobuf-net-to-serialize-all-default-values

@bugbiter @piotrwojtowicz Are you able to try this workaround in your code to see if it works?

[2019-03-01 11:06] barbeau commented on #16
Looks like this is a duplicate of https://github.com/google/gtfs-realtime-bindings/issues/32, so I'm closing this issue and we can continue the discussion in that thread.

[2019-03-01 11:06] #16 closed

[2019-03-01 11:11] barbeau commented on #22
@XavierPrudent Your project should have it's own groupId and artifactId at the top of your pom.xml file (NOT within the `<dependencies>` section) - these fields can have whatever values you want (e.g., `com.abc.123` and `com.abc.123.myapp`).  The gtfs-realtime-bindings snippet should only appear within the `<dependencies>` section of your pom.xml, and you should only have one `<dependencies>` sect

[2019-03-01 11:11] #22 closed

[2019-03-01 11:19] barbeau commented on #31
@kayupeace Thanks for reporting this!  This is fixed in the gtfs-realtime .proto file in https://github.com/google/transit/commit/cabaec43e039f3425c50933ae6b227a720c74851, and we just need to do another release of gtfs-realtime-bindings to fix this, which we're working on.  I'll leave this issue open until we cut the new release.

[2019-03-01 11:31] barbeau opened #41 "Create unit tests for .NET (dotnet) bindings"
Right now we do not have unit tests for the dotnet bindings:
https://github.com/google/gtfs-realtime-bindings/tree/master/dotnet

This can potentially cause issues when we update the bindings if there have been changes in the toolchain - process for updating the bindings is described here:
https://github.com/google/gtfs-realtime-bindings/blob/master/dotnet/UPDATING.md

For comparison, we currently

[2019-03-01 11:35] Gariantroll commented on #34
Oh man, I wrote this issue so long ago I had to remember what the solution was when I found it.  I think it was something wrong with my Pi’s internet connection.  I think I have to look into to guarantee that was the issue.  Sorry, it was a while ago.

[2019-03-01 11:50] barbeau commented on #41
We should add tests for VehiclePositions, TripUpdates, and Alerts protobuf files:

* VehiclePositions example file - https://github.com/google/gtfs-realtime-bindings/tree/master/java/src/test/resources/com/google/transit/realtime
* TripUpdates example - http://api.tampa.onebusaway.org:8088/trip-update
* Alerts example - https://cdn.mbta.com/realtime/Alerts.pb

[2019-03-01 14:09] barbeau commented on #34
@Gariantroll ok, thanks. I'm going to close this issue for now but please reopen if you can provide more info.

[2019-03-01 14:09] #34 closed

[2019-03-01 16:50] XavierPrudent commented on #22
Thank you Sean. Eventually I preferred re-implementing the real time generator.

[2019-03-01 17:38] hansthompson commented on #19
yeah.

[2019-03-04 14:30] kevinsmgov commented on #16
About a week after we posted this, we switched back to our original home-grown protobuf code so it was no longer an issue for us. Can't answer as to whether the issue has been corrected in this repository or not.

[2019-03-06 20:51] barbeau opened #44 "Anyone using Ruby bindings?"
Is anyone in the community using the Ruby bindings in this repository?

I'm hitting some issues regenerating them from the gtfs-realtime.proto, as it seems proto2 files aren't officially supported by Google's Ruby protobuf compiler, and the bindings generated by a 3rd party app don't match the ones currently in the repo.  More at https://github.com/google/gtfs-realtime-bindings/pull/43/commits/3b2

[2019-03-08 15:18] barbeau opened #46 "Anyone using PHP bindings?"
Is anyone in the community using the PHP bindings in https://github.com/google/gtfs-realtime-bindings-php?

I'm hitting some issues regenerating them from the gtfs-realtime.proto, as it seems proto2 files aren't officially supported by Google's protobuf compiler. More at https://github.com/google/gtfs-realtime-bindings-php/pull/4.

[2019-03-10 14:35] drewda commented on #44
At @mapzen previously and now at @interline-io, we've used the Ruby RT bindings occasionally. They're useful because a lot of our other tooling is in Ruby.

However, our use is primarily for debugging on the command line and in small scripts. We have not put the Ruby bindings in to production use and probably would not do so for performance reasons.

From my perspective, the Ruby bindings are nice

[2019-03-19 08:47] weeg commented on #46
Hi! I am planning to use PHP bindings in about a month. But as I can see proto2 is not supported. Is there any workaround for this?

[2019-03-19 13:58] barbeau commented on #46
@weeg You can use the existing legacy PHP bindings that are in the repo, but they don't have any of the new fields created after circa 2017.  I don't know of any workaround going forward for proto2 support, but I'm open to ideas if anyone else does.  Otherwise, the PHP bindings will likely be deprecated going forward until there is official support for proto2.

[2019-03-21 13:26] barbeau commented on #19
@hansthompson For this bindings library we'll accept contributions if:
* The language is supported by the [official Google protobuf tooling](https://github.com/protocolbuffers/protobuf)
* The process of using the library in an application, as well as the process of generating the bindings when gtfs-realtime.proto changes, is well documented
* The process of renerating the bindings can be automated

[2019-03-21 13:26] #19 closed

[2019-03-28 10:04] cvhong opened #47 "Flutter Support ?"

[2019-03-28 13:33] barbeau commented on #47
@cvhong For this bindings library we'll consider adding support for a new language if:
* The language is supported by the [official Google protobuf tooling](https://github.com/protocolbuffers/protobuf)
* The process of using the library in an application, as well as the process of generating the bindings when gtfs-realtime.proto changes, is well documented (if contributed via pull request)
* The p

[2019-04-14 22:17] ciolt opened #48 "PLEASE update and republish the JavaScript package on NPM"
[gtfs-realtime-bindings](https://www.npmjs.com/package/gtfs-realtime-bindings) is severely out of date (4 years) and the old, old version of protobuf.js is causing a lot of headaches since the current documentation doesn't reflect pbjs 2.0.5 (the package dependency published on npm)

![image](https://user-images.githubusercontent.com/5000732/56099914-62d09480-5ee1-11e9-8209-bc1ff7f92a84.png)

Plea

[2019-04-14 22:20] ciolt commented on #48
Hey @bdferris can you re-publish the Node.js package?

[2019-04-15 03:55] aababilov commented on #48
@bdferris does not work on realtime anymore.

Hi @anatolip-rt ! Please could you help us here?

[2019-04-15 03:58] aababilov commented on #48
Adding @barbeau

Hi Sean! Please could you help us here?

[2019-04-15 03:59] ciolt commented on #48
Nevermind, I forked the source and created [`gtfs-rb`](https://www.npmjs.com/package/gtfs-rb) instead. Really nice that protobuf.js also supports creating type definitions. Works flawlessly now

I'll be maintaining it on my own, thanks

[2019-04-15 03:59] #48 closed

[2019-04-15 13:44] barbeau commented on #48
@ciolt Thanks for the heads up!  Yes, we're aware of the issue and are working on a new release of this library that will be published shortly.

[2019-04-16 00:21] michaelgosling commented on #48
@ciolt this keeps saying it cant call decode on undefined. Is there a change that needs to be made now?

[2019-04-16 00:59] ciolt commented on #48
@michaelgosling That's because `gtfs-realtime-bindings` on npm is severely out of date and uses an extremely obsolete version of protobuf.js (4+ years old)

I'm using [`gtfs-rb`](https://www.npmjs.com/package/gtfs-rb) which uses a current version of protobuf.js. Try using that instead, and open an issue on [the repo](https://github.com/cscape/gtfs-rb) if something doesn't work right

[2019-04-16 11:17] michaelgosling commented on #48
I was actually talking about gtfs-rb. I couldn't find the repo before, thanks for the link :)

[2019-04-23 15:30] barbeau commented on #48
@ciolt and @michaelgosling I just published v0.0.5 to NPM - could you please give this a try and see if it resolves the issue?

[2019-04-23 15:31] barbeau commented on #31
I just published v0.0.5 to NPM which should resolve this issue - could you please give this a try and see if it works?

If not, please re-open the issue.

[2019-04-23 15:31] #31 closed

[2019-04-23 15:34] barbeau commented on #28
@jonlaing, @mjprude, and @VGoose I just published v0.0.5 to NPM - could you please give this a try and see if it resolves the issue?

If not please re-open.

[2019-04-23 15:34] #28 closed

[2019-04-23 15:37] barbeau commented on #41
.NET test for VP was added here - https://github.com/MobilityData/gtfs-realtime-bindings/pull/43.

I'm going to open a new issue for adding TU and Alert tests for all languages.

[2019-04-23 15:37] #41 closed

[2019-04-23 15:38] barbeau opened #49 "Add TripUpdates and Alerts unit tests for all supported languages"
Right now all unit tests parse a single GTFS-realtime VehiclePosition file.

We should add unit tests for all supported languages to parse TripUpdates and Alerts files too.

- [ ] Java bindings
- [ ] .NET
- [ ] JavaScript / Node.js
- [ ] Python
- [ ] Golang

[2019-04-30 21:59] barbeau commented on #29
So I believe this is actually a duplicate of https://github.com/MobilityData/gtfs-realtime-bindings/issues/32, so I'm closing it as a duplicate.

[2019-04-30 21:59] #29 closed

[2019-05-01 19:53] nselikoff commented on #44
We use the Ruby bindings @omnimodal

[2019-05-06 14:01] julianrojas87 opened #50 "Node.js code documentation"
Parsing a GTFS-realtime feed is shown in the README as:
[code]
But for it to work it must be:
[code]

[2019-05-22 21:01] AlejandroPerezArteaga opened #51 "Java - Could not find io.mobilitydata.transit:gtfs-realtime-bindings:0.0.4"
I am using gradle, I have already put in my "build.gradle" the dependency:
compile group: 'io.mobilitydata.transit', name: 'gtfs-realtime-bindings', version: '0.0.4'
but when I try to compile the project it gives me this error.

Thank´s if anyone can help me.

[2019-05-23 14:13] barbeau commented on #51
@AlejandroPerezArteaga This is an issue on our end - we're still working with JCenter to get the latest artifacts published.

In the meantime try:

`com.google.transit:gtfs-realtime-bindings:0.0.4`

I'll update this issue when the new artifacts are available.

[2019-05-23 14:23] barbeau commented on #50
Thanks @julianrojas87!  I just updated the docs.

[2019-06-03 17:19] patrickbrownsync commented on #44
We are planning on using the Ruby bindings

[2019-06-14 20:41] barbeau commented on #51
@AlejandroPerezArteaga This issue should now be resolved - the newest release is now published under the MobilityData name space on Maven Central. Could you please try this:

[code]

[2019-06-14 20:41] #51 closed

[2019-06-18 00:22] dmani opened #52 ".NET object does not support null for optional fields"
We are using the GTFS Realtime bindings package for .NET to convert vehicle and trip update data in our database to the GTFS-RT ProtoBuf format. We do not have values for some of the optional elements such as vehicle bearing, occupancy, speed and vehicle stop status. But the C# object uses non-nullable properties for these and hence defaults values such as 0 for bearing, EMPTY for occupancy, 0 for

[2019-06-18 15:09] barbeau commented on #52
@dmani Which version of the .NET bindings are you using?

It sounds like this is the inverse problem of https://github.com/MobilityData/gtfs-realtime-bindings/issues/32, in which default values aren't serialized to the protobuf message.

I believe this should be controllable via the `RuntimeTypeModel.UseImplicitZeroDefaults` setting.

Could you try setting this to `true` in code and see if this fi

[2019-06-19 01:52] dmani commented on #52
Thank you for the quick response. We are using v0.0.4 of GtfsRealtimeBindings and v2.4.0 of protobuf-net for serialization.

[2019-06-19 14:35] #46 closed

[2019-06-19 14:37] barbeau commented on #44
At this point we are deprecating support for the Ruby bindings in this library until the Google protobuf compiler officially supports proto2 for Ruby. We'd be glad to host links to 3rd party Ruby bindings maintained by others.

[2019-06-19 14:37] #44 closed

[2019-06-21 01:47] dmani commented on #52
The correction you have suggested is on the protobuf serialization side. But issue we are having is in the GtfsRealtime.cs class. Optional elements (properties in the class) such as bearing, speed, occupancy, etc. do not allow for null. Null should be a valid value (which should imply that we do not have a value for the element). For example, setting a default of bearing=0 when we do not have a va

[2019-06-21 14:00] barbeau commented on #52
@dmani We use [an automated tool](https://github.com/mgravell/protobuf-net) to generate the bindings, so I'm not sure this is an option at the code generation stage.

To make sure I understand your use case - you're trying to use this class as an internal data model and need to read and write values to this class (without serializing it to a protocol buffer representation)?

[2019-06-21 14:14] barbeau commented on #52
From a quick search, the author of the library says in [this SO post](https://stackoverflow.com/a/40019039/937715), answer the question of "why no nulls":

And he's right, the protocol buffer format uses default values instead of null values, as described here:
https://developers.google.com/protocol-buffers/docs/proto#optional

Given this library is intended primarily as a (de)serialization librar

[2019-06-21 14:14] #52 closed

[2019-07-26 12:56] repjarms commented on #47
I think dart support could be useful for flutter apps that want to show transport data. I'd be interested in working on dart bindings if that would be helpful 🙂

[2019-07-28 05:26] barbeau commented on #47
@repjarms contributions welcome! To make sure we can maintain them appropriately we'd need at least one unit test included.

[2019-07-28 22:31] repjarms commented on #47
Great! I'll look into this shortly and will include tests.

[2019-07-29 02:14] cvhong commented on #47
I successfully get GTFS to work on my Flutter app, let me know if I can help anything.

[2019-07-31 21:16] nselikoff opened #53 "Deserializing feed: missing optional fields return 0 value in node.js"
Given a feed that does NOT have an optional field (e.g. vehicle speed), the value returned when getting this value is `0`. So there's no way to differentiate "not included" from an actual value of zero.

[code]

This may be similar to #52

[2019-08-01 13:54] barbeau commented on #53
@nselikoff Thanks for the report!  In Java bindings there is a `hasSpeed()` method that you can call to determine if the field has been set, but I'm not as familiar with the Node.js bindings.  I'm assuming there isn't an equivalent?

[2019-08-01 14:58] nselikoff commented on #53
@barbeau good question - just looked and there is not a similar method. However, I found a workaround using `realtime.transit_realtime.Position.toObject`:

[code]

[2019-08-03 16:35] nselikoff opened #54 "Example Java code import statements incorrect?"
In the example Java code in [this README](https://github.com/MobilityData/gtfs-realtime-bindings/tree/master/java), the import statements use `io.mobilitydata.transit.realtime.GtfsRealtime`, but the actual path of the generated code is still `com.google.transit.realtime.GtfsRealtime`.

Since the management of the gtfs-realtime-bindings has passed to @MobilityData, will this path be updated in the

[2019-08-05 14:42] barbeau commented on #54
@nselikoff Thanks for flagging this!  Yes, this is an error in the docs - the import will remain `com.google.transit.realtime.GtfsRealtime` for backwards compatibility.  I'll fix this shortly.

[2019-08-05 14:43] #54 closed

[2019-09-04 03:28] rickstergg commented on #18
I ran into the same issue but it was because I was using https instead of http like my agency specified.

[2019-09-11 17:38] adhunna commented on #32
Anyone found solution yet?

[2019-12-31 09:10] ibrahimozden opened #55 "I'm trying to get the current bus departure times using an API and I've used the following code... API information comes from a different company. I'm evaluating the possibility of an error in the protobuf file. Can you help?"
Error: invalid wire type 7 at offset 12 at BufferReader.Reader.skipType (/home/runner/node_modules/gtfs-realtime-bindings/node_modules/protobufjs/src/reader.js:375:19) at Function.decode (/home/runner/node_modules/gtfs-realtime-bindings/gtfs-realtime.js:148:28) at Request._callback (/home/runner/index.js:12:66) at Request.self.callback (/home/runner/node_modules/request/request.js:185:22) at Reque

[2020-01-07 15:45] barbeau commented on #55
@ibrahimozden Have you tried parsing the feed with another GTFS-rt client like the GTFS-rt validator to see if it parses correctly?

https://github.com/CUTR-at-USF/gtfs-realtime-validator

You'll need to provide more sample code of how you're parsing the feed and example data for us to help more. These types of getting started requests are also best directed to the GTFS-realtime mailing list here

[2020-01-07 15:45] #55 closed

[2020-02-19 09:36] jsiedentop opened #56 "Add .Net Core bindings"
.Net Framework is supported, but there is no binding for .Net Core. It would be great, if you ship the NuGet Package as a .Net Standard package, so it can be used on any platform.

[2020-02-19 14:54] barbeau commented on #56
@jsiedentop Here's our current process for generating the .NET bindings:
https://github.com/MobilityData/gtfs-realtime-bindings/blob/master/dotnet/UPDATING.md

It uses a 3rd party library for generating the bindings.

It looks like there is an official C# generator, though, that we could use:
https://github.com/protocolbuffers/protobuf/tree/master/csharp

I think that would address your need? Or i

[2020-02-19 16:14] zachpepsin opened #57 "TripDescriptor hasScheduleRelationship incorrectly returns false"
When working with the SEPTA GTFS-Rt feed, I found that the TripDescriptor hasScheduleRelationship() was returning false even for times when there were SCHEDULED schedule relationships present. SEPTA does not have any other statuses in their feed besides SCHEDULED, so that is all I was able to test. I'm unsure if this issue is present for other statuses.

[2020-02-21 18:47] jsiedentop commented on #56
@barbeau Thanks for the reply.
In C# you can decide to develop with the .Net Framewok (the "old framework") or with .Net Core (the "new framework"). It is not possible to load an assemply, developed in the one framework, from a project developed in the other framework. For that reason there is a subset of both frameworks, the .Net Standard. If MobilityData would publish the implementation with .Ne

[2020-02-21 21:17] barbeau commented on #56
@jsiedentop I'm certainly in favor of publishing the bindings in a way that's available on the most platforms. The problem is that we have to use existing tools to generate the bindings, so we're limited based on what those tools can do.  And unfortunately, looking at https://github.com/protocolbuffers/protobuf/tree/master/csharp again, it only supports proto3 files, and GTFS-realtime is proto2. S

[2020-02-25 22:14] barbeau commented on #57
@zachpepsin Do you have a snippet of the feed in plain text you can share?

Off the top of my head I'm pretty sure this is one of the quirks of protocol buffers and the Java implementation, although from Googling now I can't find an explicit reference that says this. Because SCHEDULED is the default enum value for TripDescriptor, the bindings may just ignore it.

If you get the value, though, it s

[2020-02-26 00:20] zachpepsin commented on #57
@barbeau I pasted below a TripDescriptor object that I just pulled from SEPTA's feed.  You can also see that `hasScheduleRelationship()` returns `false` while the property returns `SCHEDULED`.  You may be right that a TripDescriptor wasn't provided, so it defaulted to `SCHEDULED`. yet the `hasScheduleRelationship()` still remains `false`.

![image](https://user-images.githubusercontent.com/6786291

[2020-02-26 14:35] barbeau commented on #57
Looking at http://www3.septa.org/gtfsrt/septarail-pa-us/Trip/rtTripUpdates.pb, here's a plain text version of a TripUpdate:

[code]

So yes, it looks like they aren't populating the `schedule_relationship` field in the protocol buffer message.

So this is behaving as expected for protocol buffer bindings - `hasScheduleRelationship()` returns `false` because the original message didn't contain the

[2020-02-26 14:35] #57 closed

[2020-02-26 18:02] zachpepsin commented on #57
Thans @barbeau!  Is this something you think is worth mentioning to SEPTA or do you think it's fine for them to not set the ScheduleRelationship and assume the default enum?

[2020-02-26 18:07] barbeau commented on #57
@zachpepsin My personal opinion is that explicitly specifying the field is better than leaving it empty and having consumers assume the default. But if they are going to put energy into updating their feed my guess is that there are probably higher priority items they could be tackling.

[2020-03-13 13:07] barbeau opened #59 "Automate UPDATING process"
Currently each time the canonical [`gtfs-realtime.proto`](https://raw.githubusercontent.com/google/transit/master/gtfs-realtime/proto/gtfs-realtime.proto) changes, we need to go through a manual process for each language to update the bindings:
* [.NET](https://github.com/MobilityData/gtfs-realtime-bindings/blob/master/dotnet/UPDATING.md)
* [Golang](https://github.com/MobilityData/gtfs-realtime-bi

[2020-03-13 15:02] kurtraschke commented on #59
FYI, `protobuf-maven-plugin` can also build bindings for C++, C#, JavaScript, and Python, although I'm not sure how useful it is to have bindings for those languages end up in a Maven artifact, when they really need to get packaged and submitted to their respective languages' package repositories (although that could always get hacked into the Maven build process somehow...).

[2020-03-26 14:35] GianlucaDeStefano opened #60 "Python - Can't add the header text to an alert"
I am trying to add a header text to the allerts that I am generating programmatically using python in this way:

[code]

For some reason the result does not contain the alert header. Am I doing something wrong?

This issue has already been described [here](https://stackoverflow.com/questions/54368568/cant-get-service-alerts-protobuff-to-include-header-text-or-description-text-us)

[2020-03-30 13:54] barbeau commented on #60
@GianlucaDeStefano Have you tried the solution to the StackOverflow post at https://stackoverflow.com/a/54468629/937715?

[2020-04-28 18:33] mhkeller opened #62 "Compiling different extensions"
How would you compile and use an extension file with this library. For example, here is the one one from New York City: http://datamine.mta.info/sites/all/files/pdfs/nyct-subway.proto.txt

[2020-04-28 19:04] barbeau commented on #62
@mhkeller You'd replace the [`gtfs-realtime.proto`](https://github.com/MobilityData/gtfs-realtime-bindings/blob/master/gtfs-realtime.proto) file in the root of this project with the .proto file for the extension (keeping the `gtfs-realtime.proto` name, unless you want to update the name in the subseequent steps), and then follow the UPDATING.MD steps for each language subfolder to re-generate the

[2020-04-28 19:18] mhkeller commented on #62
Yes I understand how to go through that process –  thanks for the quick reply. I'll be using nodejs so I'll [follow this](https://github.com/MobilityData/gtfs-realtime-bindings/blob/master/nodejs/UPDATING.md).

One thing that confuses is me is I would have thought that the nyct-subway.proto file is something that would be loaded in addition to the gtfs-realtime.proto file since it seems like it ex

[2020-04-28 20:24] barbeau commented on #62
@mhkeller Ah, sorry, I answered too quickly. Yes, I believe you're right. Best approach would be to keep the same filenames and just change UPDATING.MD instructions to process the extension file instead of `gtfs-realtime.proto`.

Please give that a shot and let me know if that works.

[2020-04-28 23:49] mhkeller commented on #62
@barbeau success, many thanks! All I had to do was change the file name in `package.json` and npm link my local version.

A clearer response before from me would have been "Yes that answers my question to understand how to through that process" since I would have been staring at it for quite a while to make sure I was doing it right! Feel free to close this. Thanks again!

[2020-04-29 13:38] barbeau commented on #62
@mhkeller Glad that worked!

[2020-04-29 13:38] #62 closed

[2020-05-07 13:24] Mchristos opened #63 ""invalid wire type" error when decoding GTFS realtime feed"
I'm fetching feed data from a URL endpoint of the form `<baseUrl>/<feedName>.proto`, but for some reason I get an "invalid wire type" error when I do `GtfsRealtimeBindings.transit_realtime.FeedMessage.decode(body)` in Node.js. I'm using the example code from the Node.js README:

	var GtfsRealtimeBindings = require('gtfs-realtime-bindings');
	var request = require('request');

	var requestSettings

[2020-05-07 13:50] barbeau commented on #63
@Mchristos Just to confirm the .proto file is a binary file - can you open the .proto file in a text editor and read the contents in plain text?

Typically files with the extension `.proto` are the protocol buffer definition files, and aren't the compressed binary representation of the actual data - those typically have a .pb extension.

[2020-05-07 14:07] Mchristos commented on #63
Thanks @barbeau - yes I thought something was a bit odd - yes the files are plain text, which from my understanding is not the usual way of sending protobuf. But, this is the data I'm dealing with. Any suggestions?

[2020-05-07 14:23] Mchristos commented on #63
So, to clarify, I'm looking at plain-text snapshots of the binary protobuf data, but I only have access to the plain text. Any way to recover or parse the data somehow?

[2020-05-07 14:27] barbeau commented on #63
@Mchristos Are you sure that the producer isn't maybe providing the .proto file as an extension to the gtfs-realtime.proto file, and the actual message is in another field?

If the .proto file looks like https://developers.google.com/transit/gtfs-realtime/gtfs-realtime-proto, then it's probably an extension file. In that case, you'd need to generate your own code bindings from that .proto file (se

[2020-05-07 14:37] Mchristos commented on #63
Yup, its definitely the latter (a JSON-ized version of an actual message). But, it doesn't look exactly like JSON to me (if so it would have an array of `entities`, rather than repeated `entity {}` declarations). Might be tricky to parse, but I can try and report back. I'll also try using google's protocol directly like you suggested.

[2020-05-07 14:45] barbeau commented on #63
@Mchristos Yes, please let me know what you find. It's certainly worth reporting this issue to the producer too - maybe they don't realize that they actually aren't sharing a true protocol buffer message.

[2020-08-29 19:35] Larkooo opened #65 "Any news on Dart support (for flutter) ?"

[2020-08-31 13:43] barbeau commented on #65
@Larkooo We have an issue open for DART at https://github.com/MobilityData/gtfs-realtime-bindings/issues/47, so I'm going to close this issue as a duplicate. Could you please voice your support for DART there via a thumbs up or comment?

[2020-08-31 13:44] #65 closed

[2020-09-10 16:41] wmcb91 commented on #50
Hi @barbeau, thanks for updating the docs here! I just wanted to add that the docs on [the official Google Transit API Node.js sample](https://developers.google.com/transit/gtfs-realtime/examples/nodejs-sample) and the [NPM package page](https://www.npmjs.com/package/gtfs-realtime-bindings) have the old example with `GtfsRealtimeBindings.FeedMessage.decode(body)` as well. Please let me know if it

[2020-09-10 16:58] barbeau commented on #50
@wmcb91 Thanks for flagging this! Yes, could you open a new issue for the Google docs? I'll re-open this issue for the NPM docs, as I believe I can edit those directly.

[2020-09-10 23:10] wmcb91 opened #66 "Error in the official Google Transit API Node.js sample"
In [the official Google Transit API Node.js sample](https://developers.google.com/transit/gtfs-realtime/examples/nodejs-sample) the code on line 11 will throw this error: `TypeError: Cannot read property 'decode' of undefined`.

[code]

[2020-09-11 14:42] barbeau commented on #50
Ok, [NPM README](https://www.npmjs.com/package/gtfs-realtime-bindings) should now be fixed. Please let me know if it doesn't look right to you.

[2020-09-11 14:42] #50 closed

[2020-09-11 14:44] barbeau commented on #66
@wmcb91 Thanks for reporting this! We'll try to get this fixed.

[2020-11-09 22:09] barbeau commented on #66
@wmcb91 Looks like this is fixed here - https://developers.google.com/transit/gtfs-realtime/examples/nodejs-sample. Thanks for reporting!

[2020-11-09 22:09] #66 closed

[2020-11-11 11:50] jsa34ito opened #71 "Python: Deprecation warnings for _descriptor"
Version: 0.0.6
Python version: 3.9
OS: Fedora 33

Issue:
GTFS realtime bindings for Python are reporting a deprecation warning for EnumDescriptor(), EnumValueDescriptor(), FileDescriptor(), FieldDescriptor(), Descriptor()

Example:
[code]

[2020-11-11 15:32] jsa34ito commented on #71
Had to update libprotoc.  Not an issue for here

[2020-11-12 17:57] barbeau commented on #71
Thanks @jsa34ito. I hope to update the Python bindings soon and hopefully this will fix this issue. I'll leave it open so you can provide feedback on the next release.

[2021-02-04 19:06] chadselph opened #75 "protobuf-java version is really old"
The java bindings are [pulling in](https://github.com/MobilityData/gtfs-realtime-bindings/blob/master/java/pom.xml#L54-L57) a protobuf-java library from July 2018 that logs a bunch of warnings on Java 9+ due to using unsafe APIs. This [has been fixed](https://github.com/protocolbuffers/protobuf/issues/3781) for a while now, so it would be nice to update to a [newer version](https://mvnrepository.c

[2021-02-04 19:08] barbeau commented on #75
👍  as long as the tests pass. PRs welcome! :)

[2021-02-05 02:58] dancesWithCycles opened #77 "Node.js examples for using gtfs-realtime-bindings.js"
Hi folks,
I hope this finds you well. Thank you very much for your work on this awesome repository. I am looking for examples how to use the bindings in node.js. Especially, I am struggling with encoding messages. I would appreciate you pointing me to any usage example?
Btw, what is the reason using gtfs-realtime-bindings.js instead of protobuf.js? Is it just the convenience that I do not need to

[2021-02-05 03:14] dancesWithCycles opened #78 "Decode vs. encode in node.js"
Hi folks,
I hope this finds you well. I hope I am blind or misunderstood the bindings version for node.js. I can get a decode example working but not for encoding. Here are the respective decoding and encoding source files. Can anyone open up my eyes please?

Decoding:

``

Encoding:

`const GtfsRealtimeBindings = require('gtfs-realtime-bindings');
const debug = require('debug')('gtfs');

let msgF

[2021-02-05 04:20] dancesWithCycles commented on #78
Hi folks,
my next try ended in a message that is valid according to the library but can not be encoded.

Source code:
[code]

Error:
[code]

Do you guys have any clue what is the reason for the error?

Cheers!

[2021-02-05 16:42] dancesWithCycles commented on #78
Hi folks,
I found the error and solution myself. Anyhow, I am still wondering how can I verify that encoding finished successful without decoding the buffer and looking at the message content. Does anyone has a little advice for me?

Here is the code example:
[code]
And here is the respective CLI output:
[code]

[2021-02-26 18:00] chadselph commented on #75
@barbeau see attached PR

[2021-02-26 19:29] #75 closed

[2021-04-08 05:18] nzphoenix opened #79 "underscores/snake case vs camelCase naming conventions"
When looking at the gtfs-realtime.proto file, field names use underscores like **active_period** in Alert or **current_stop_sequence** in VehiclePosition.

Likewise, the ASCII representation example shows all field names with underscores: https://developers.google.com/transit/gtfs-realtime/examples/trip-updates-full  As does the reference on both https://gtfs.org/reference/realtime/v2/ and https:/

[2021-04-08 15:30] barbeau commented on #79
@nzphoenix Good question! So there are several questions here, and I'll try to answer them to the best of my knowledge.

Yes - this is the canonical way to represent field names in Protocol Buffer .proto files, with message names in CamelCase. See https://developers.google.com/protocol-buffers/docs/style#message_and_field_names.

This differs depending on the programming language and protocol buff

[2021-04-28 13:20] otbutz opened #80 "Publish Java bindings to Maven Central"
The current release is not available on Maven Central and JCenter is shutting down on May 1st.

[2021-06-11 19:00] JakeHadley commented on #47
@veyhong Do you have any information as to how this works in flutter? I'm looking to utilize a local transit system api that is feeding GTFS data. I'm not sure how to handle it in dart/flutter.

[2021-06-30 23:13] ethanpooley commented on #46
We are using the PHP bindings at TransitScreen. We use this package, re-hosted from Google and using an updated protobuf version: https://packagist.org/packages/jkapron/gtfs-realtime-bindings

[2021-11-03 20:15] barbeau opened #83 "Add support for Kotlin"
Google's Protocol Buffer tools now include official support for Kotlin:
https://developers.googleblog.com/2021/11/announcing-kotlin-support-for-protocol.html

It would be nice to support Kotlin bindings in this repo.

[2022-02-03 16:13] MKuranowski opened #86 "Go: github.com/golang/protobuf is deprecated"
The Go bindings rely on the github.com/golang/protobuf package, which [has been deprecated since March 2021](https://github.com/golang/protobuf/commit/ae97035608a719c7a1c1c41bed0ae0744bdb0c6f).

The bindings should probably be updated to use [google.golang.org/protobuf](https://pkg.go.dev/google.golang.org/protobuf) instead.

[2022-03-31 19:47] #80 closed

[2022-03-31 19:51] maximearmstrong opened #90 "Release version 0.0.8 on Maven Central"
Publish release version 0.0.8 on Maven Central as explained [here](https://github.com/MobilityData/gtfs-realtime-bindings/pull/89#discussion_r835299256).

Update the release process as explained [here](https://github.com/MobilityData/gtfs-realtime-bindings/pull/89#discussion_r838873387) at the same time.

[2022-05-04 20:28] maximearmstrong commented on #90
@otbutz No, we are ready. I just prioritized this for next sprint.

[2022-05-26 02:19] jamespfennell commented on #71
It looks like this deprecation warning was just upgraded to a hard error, and the Python bindings here don't work anymore on fresh builds. The [protobuf PyPI package](https://pypi.org/project/protobuf/) was updated a few hours ago. The build error I get is:

[code]

The version of the Python proto library in `setup.py` is not pinned, so fresh builds are picking up this new release.

[2022-05-26 03:06] jamespfennell commented on #71
I tried to upgrade the bindings using the most recent version of the proto compiler and the Python library, but was unable to get the tests to pass due to this error:
[code]
I'm very confused because I just ran `pip install protobuf`...

As a quick alternative, I [created a PR](https://github.com/MobilityData/gtfs-realtime-bindings/pull/91) that just pins the Python protobuf library at a 3.X.X ver

[2022-05-26 22:09] jamespfennell commented on #71
Update: the 4.21.0 protobuf was yanked from PyPI because many projects has similar issues to the one here. [This is the protobuf GitHub issue](https://github.com/protocolbuffers/protobuf/issues/10051). One of [the last comments](https://github.com/protocolbuffers/protobuf/issues/10051#issuecomment-1138912956) say there will be a roll forward, so the issue here will return soon.

I think the safest

[2022-06-02 23:30] #90 closed

[2022-06-15 15:06] ttben opened #95 "Cannot find groupId on maven central for version 0.0.8"
As mentioned [here](https://github.com/MobilityData/gtfs-realtime-bindings/blob/master/java/README.md#008-and-higher) version 0.0.8 should be found under `Group ID org.mobilitydata` on maven central.

I can't find it (https://mvnrepository.com/search?q=org.mobilitydata)

Any idea? :)

[2022-06-15 15:07] cspada opened #96 "artefact org.mobilitydata:gtfs-realtime-bindings:0.0.8 is not present in maven central."
The org.mobilitydata group is not even present.

[2022-06-15 17:04] barbeau commented on #96
@cspada Thanks for opening this issue. Something went wrong in the PR that was supposed to publish to Maven Central and we need to investigate further:
https://github.com/MobilityData/gtfs-realtime-bindings/pull/92#issuecomment-1145454882

[2022-06-15 17:55] #95 closed

[2022-06-15 20:48] maximearmstrong commented on #96
Fixed in #97. It is [here](https://s01.oss.sonatype.org/content/repositories/releases/org/mobilitydata/gtfs-realtime-bindings/0.0.8/).

[2022-06-15 20:48] #96 closed

[2022-07-20 19:22] Joe-ChenZ opened #99 "any support for typescript types?"
It seems like i can't access the subfields of feed.entity.

[code]

Apparently
` if (entity.TripUpdate) ` never passes because entity is of type any, but it is of a specific realtime transit type, so i need to install it first.

wouldn't work either when i do
[code]
entity.TripUpdate is printed as undefined

[2022-10-25 22:30] JoeSchulte commented on #56
You can also multi-target NuGet packages to Standard, Framework, and Core.

[2022-11-09 03:47] jameslinjl commented on #99
@Joe-ChenZ I think you may be running into issues because of the case of `entity.TripUpdate` vs `entity.tripUpdate` (https://github.com/MobilityData/gtfs-realtime-bindings/blob/master/nodejs/gtfs-realtime.js#L589-L595)

I was able to pull from the (NY) MTA's API with the following:
[code]

[2022-11-26 02:18] jameslinjl commented on #99
also, it should be pretty straight-forward to add TS types. i can help to do that soon once i (hopefully) get my first improvements for the JS bindings merged (https://github.com/MobilityData/gtfs-realtime-bindings/pull/103)

[2022-11-27 23:00] gauthier-th commented on #99
I'm also interested in TS types and can also help

[2022-11-28 03:14] jameslinjl commented on #99
@gauthier-th nice! i already have a local branch which adds the TS types, so will probably put that up once #103 is merged (the approach is fairly trivial, just using `pbts` to generate a `.d.ts` file and then specifying that file as `types` in the `package.json`. if you have feedback on that approach, please let me know!

perhaps something helpful here might be to help write a test / example(s) u

[2022-11-28 09:39] gauthier-th commented on #99
yep, i did the same on my side too.
sure! i could write this.

[2022-11-30 16:26] jameslinjl commented on #99
https://github.com/MobilityData/gtfs-realtime-bindings/pull/105 is up now! @gauthier-th feel free to either propose changes onto that PR (or you can put up your own PR of tests / example(s) after this one is merged)

[2022-11-30 16:32] jameslinjl commented on #77
@dancesWithCycles late response here, but the typical development workflow using protocol buffers is for a developer to use the protobuf compiler (protoc) along with a plugin (e.g. protobuf.js) to generate code that meets can serialize and deserialize data that complies with the schema (in the .proto file(s)). This process can be a bit annoying and tedious, especially for developers who have never

[2022-11-30 17:47] gauthier-th commented on #99
I think we should already solve #104 and #105 before adding more documentation / examples for TS